@model KMITL_WebDev_MiniProject.Models.ProfileOtherViewModel
@* <link rel="stylesheet" href="~/css/User/ProfileOther.css" /> *@

<link rel="stylesheet" href="~/css/User/ProfileOther.css" asp-append-version="true" />

<div class="text-center">
    <h3>Profile</h3>
    <img src="@Url.Content("~/" + Model.ImagePath)" style="width: 5vw; height: auto;" />
    <div>
        <label>Username</label>
        <span>@Model.RealUserName</span>
    </div>
    <div>
        <label>FirstName</label>
        <span>@Model.FirstName</span>
    </div>
    <div>
        <label>LastName</label>
        <span>@Model.LastName</span>
    </div>
    <div>
        <label>Reputation</label>
        <span id="user-reputation">@Model.Reputation</span>
    </div>

    <div class="profile-info">
        <h2>@Model.RealUserName</h2>
        <div class="rating" id="user-reputation">@Model.Reputation ⭐</div>
    </div>
    <div class="star-rating" id="star-rating" isLike="@Model.IsLike">
        <input type="radio" id="star5" class="star-rating-radio" name="rating" value="5">
        <label for="star5">★</label>

        <input type="radio" id="star4" class="star-rating-radio" name="rating" value="4">
        <label for="star4">★</label>

        <input type="radio" id="star3" class="star-rating-radio" name="rating" value="3">
        <label for="star3">★</label>

        <input type="radio" id="star2" class="star-rating-radio" name="rating" value="2">
        <label for="star2">★</label>

        <input type="radio" id="star1" class="star-rating-radio" name="rating" value="1">
        <label for="star1">★</label>
    </div>
</div>



<script>
    const star_rating = document.getElementById("star-rating");
    const p = document.getElementById("star-rating")
    const p_radio = p.querySelectorAll('input[name="rating"]');

    console.log(p.querySelectorAll('input[name="rating"]'))
    if(p.getAttribute("isLike") != 0) {
        p_radio[5 - p.getAttribute("isLike")].checked = "true";
    }

    star_rating.addEventListener("change", async (e) => {
        await fetch('@Url.Action("AddReputation", "User")', {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ Id: "@Model.Id", value: star_rating.querySelector('input[name="rating"]:checked').value })
        });

        await fetch('@Url.Action("FindReputation", "User")' + "?TargetID=@Model.Id")
            .then(response => response.text())
            .then(json => { document.getElementById("user-reputation").innerText = `${json}`; })
            .catch(err => console.warn("Something went wrong.", err));
    });
</script>
