@model KMITL_WebDev_MiniProject.Models.ProfileOtherViewModel

<div class="text-center">
    <h3>Profile</h3>
    <img src="data:image/jpeg;base64,@Model.ImageURL"; style="width: 5vw; height: auto;"/>
    <div>UserName   : @Model.RealUserName</div>
    <div>FirstName  : @Model.FirstName</div>
    <div>LastName   : @Model.LastName</div>
    <div>Reputation : @Model.Reputation</div>
    <div>Sex        : @Model.Sex</div>

    <label>Like</label>
    <input type="checkbox" id="target-checkbox" checked="@Model.IsLike"></input>
</div>

<script>
    document.getElementById("target-checkbox").addEventListener("change", (e) => {
        fetch('@Url.Action("AddReputation", "User")', {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ Id: "@Model.Id", IsLike: e.currentTarget.checked})
        });
    });
</script>